{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "no-underscore-dangle": "off"
  }
}
